<div>
    <nz-alert
      nzType="error"
      nzMessage="Error"
      [nzDescription]="headerErrorMsg"
      *ngIf="headerErrorMsg"
      nzShowIcon
    ></nz-alert>
    <div *ngIf="!isLoading && !headerErrorMsg">
        <nz-button-group>
            <button nz-button nzType="primary" (click)="showKeyGenModal()" [disabled]="isLoading">Generate New Key</button>
        </nz-button-group>
    </div>
    <nz-divider></nz-divider>
    <nz-spin *ngIf="isLoading" nzTip="Loading..."></nz-spin>
    <nz-tabset (nzSelectChange)="handleTabSelect($event)" #tabset>
        <nz-tab *ngFor="let item of categories" [nzTitle]="item.name | unsnakeCase" #tab>
            <app-key-table [category]="item" [isFocus]="tab.isActive" ></app-key-table>
        </nz-tab>
    </nz-tabset>
    <button nz-button nzType="default" (click)="handleGenerateMasterSheet()" [disabled]="isLoading || headerErrorMsg">Generate Master Sheet</button>
</div>
<app-key-gen-modal [(isVisible)]="isKeyGenModalVisible" [vhost_list]="categories" (keyGenEvent)="handleKeyGenResponse($event)"></app-key-gen-modal>
<app-batch-gen-modal [(isVisible)]="isMasterSheetGenModalVisible"></app-batch-gen-modal>